body {
  font-family: 'EB Garamond', serif;
  margin: 0;
  background-color: #f1f2ff;
  color: #352f5d;
  line-height: 1.6;
}

.navbar {
  background-color: #352f5d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

.crest {
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-size: 18px;
  color: white;
  text-decoration: none;
  letter-spacing: 0.06em;
}

.society-bg-logo img {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  opacity: 0.07;
  z-index: 0;
  width: 340px;
}

.content {
  position: relative;
  z-index: 1;
  padding: 80px 60px;
}

.heading-1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #352f5d;
}

.heading-2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  text-transform: uppercase;
  color: #352f5d;
  margin-top: 60px;
}

.heading-3 {
  font-family: 'EB Garamond', serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
  background-color: #352f5d;
  padding: 10px 0;
  margin-top: 30px;
  width: 100vw;
  margin-left: calc(-60px);
  margin-right: calc(-60px);
}

.heading-inner {
  max-width: calc(100% - 120px);
  margin: 0 auto;
}

.text {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: #352f5d;
  margin-bottom: 20px;
}

.footer {
  background-color: #514b76;
  text-align: center;
  padding: 20px;
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  color: white;
}

.media {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}
