<!DOCTYPE html>

<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision
       | relative_url }}">
  <link rel="stylesheet" href="/assets/base.css">
  <meta name="viewport" content="width=device-width">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
<body>
    <nav>
      <ul class="nav">
      <a href="/#/">Home</a>
      <a href="/case-construction/">Case Construction</a>
      <a href="/refutation/">Refutation</a>
      <a href="/presentation/">Presentation</a>
      <a href="/general-knowledge/">General Knowledge</a>
      <a href="/parliamentary-debate/">Parliamentary Debate</a>
    </ul>
    </nav>
<div class="main-section">
  <img src="Philo Logo (No Date).png" alt="" class="society-bg-logo">
  <h1 class="title">
    <span>THE</span>
    <span>PHILOMATHEAN</span>
    <span>SOCIETY</span>
    <span>EST. 1825</span>
  </h1>
</div>

<div class="footer-bar">
  A friendly guide to parliamentary extemporaneous debate at Phillips Academy.
</div>
</body>
</html>
